<header>
    <div class="title">
        <h1>Expressive <span style="color:crimson"> Devo</span>YE<span style="color: crimson">uring</span></h1>
        <h2>Gourmet foods for gourmands</h2>
    </div>
</header>

<main class="container">

    {{#each foods}}
        <div class="row">
            <div class="col1">
                <h2>{{food_name}}</h2>
                <img src="{{pic_url}}" alt="Photo of {{food_name}}" />  
            </div>
            <div class="col2">
                <h2>Ingredients: </h2>
                <p>{{ingredients}}</p>
                <div class="row devoyeuredBtn">
                    <form method="POST" action="/" class="column">
                        <button type="submit" class="devoyeur" id="#{{id}}">DevouYEur?</button>
                    </form>
                    <form class="column hide">
                        <button class="devoured">DevoYEured!</button>
                    </form>
                </div>
            </div>
            <div class="col3">&nbsp;</div>
        </div>
    {{/each}}

    <form class="row insertOne">
        <div class="col1">
            <div class="form-group">
                <label for="fo">Name of gourmet dish:</label>
                <input type="text" id="fo" name="food_name">
            </div>      
            <button type="submit" class="toBeDevoured">Add a gourmet dish of your own</button>
        </div>
        <div class="col2">
            <div class="form-group">
                <label for="devo">DevoYEured?</label><br>
                <input type="radio" name="devo_ye_ured" value="1" checked> Oh, yes! Oui, madame ou monsieur!<br>
                <input type="radio" name="devo_ye_ured" value="0"> Alas, not yet... Non, mon cher ami...
            </div>
        </div>
        <div class="col3">            
            <div class="form-group">
                <label for="ingred">Ingredients (if available):</label>
                <input type="text" id="ingred" name="ingredients">
            </div>

            <div class="form-group">
                <label for="pic">Link to a photograph (if available):</label>
                <input type="text" id="pic" name="pic_url">
            </div>
        </div>
    </form>
</main>

<footer>
    <div class="devoyeured">
    <ul> 
        <li class="list-header"> <h2> DevouYEred: </h2> </li>
        <li class="list-item">  {{#if foods.devo_ye_ured}} <h4>{{food_name}}</h4> {{/if}}</li>
        <li class="list-item">  {{#if foods.devo_ye_ured}} <h4>{{food_name}}</h4> {{/if}}</li>
        <li class="list-item">  {{#if foods.devo_ye_ured}} <h4>{{food_name}}</h4> {{/if}}</li>
    </ul>
    </div>
</footer>