<header>
    <div class="title">
        <h1>Expressive <span style="color:crimson"> Devo</span>YE<span style="color: crimson">uring</span></h1>
        <h2>Gourmet foods for gourmands</h2>
    </div>
</header>

<main class="container">

    {{#each foodList}}
        <div class="row">
            <div class="col1">
                <h2>{{food_name}}</h2>
                <img src="{{pic_url}}" alt="Photo of {{food_name}}" />  
            </div>
            <div class="col2">
                <h2>Ingredients: </h2>
                <p>{{ingredients}}</p>
                <div class="row devoyeuredBtn">
                    <form class="column">
                        <button type="submit">DevouYEur?</button>
                    </form>
                    <form class="column hide">
                        <button class="devoured">DevoYEured!</button>
                    </form>
                </div>
            </div>
            <div class="col3">&nbsp;</div>
        </div>
    {{/each}}

</main>

<footer>
    <div class="devoyeured">
    <ul> 
        <li class="list-header"> <h3> DevouYEred: </h3> </li>
        <li class="list-item">  {{#if devo_ye_ured}} <h4>{{food_name}}</h4> {{/if}}</li>
        <li class="list-item">  {{#if devo_ye_ured}} <h4>{{food_name}}</h4> {{/if}}</li>
        <li class="list-item">  {{#if devo_ye_ured}} <h4>{{food_name}}</h4> {{/if}}</li>
    </ul>
    </div>
</footer>